.login-card {
  border: 2px solid #d3d3d3;
  border-radius: 0.5em;
  padding: 1em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #0f264a;
}

.form {
  padding: 1em;
  text-align: left;
}

label {
  font-weight: 600;
}
